#define WIFI_SSID       "wifi ssid"
#define WIFI_PASSWORD   "wifi password"

#define MAX_RADIOS        50
#define WEB_RADIOS_URL    "https://example.com/radios.json"
#define WEB_RADIO_USER    "username" // can be an empty string
#define WEB_RADIO_PASSWD  "password" // can be an empty string
#define RETRIES_DELAY     5 * 1000

#define SPI_CLK_PIN     18
#define SPI_MISO_PIN    19
#define SPI_MOSI_PIN    23

#define VS1053_CS       5
#define VS1053_DCS      16
#define VS1053_DREQ     4

#define IR_RECEIVE_PIN  27
#define IR_NEXT         0x5
#define IR_PREVIOUS     0x2
#define IR_VOL_DOWN     0xA
#define IR_VOL_UP       0x1E
#define IR_VOL_MUTE     0x16

#define VOLUME_MAX      100
#define VOLUME_STEP     2

#define RADIO_LEN_LIMIT 16
#define SONG_LEN_LIMIT  42

#define CHANGE_RADIO_DELAY    1000
#define SAVE_DELAY            60 * 1000
